body {
  /* Too broad. Narrow it down */
  text-transform: capitalize;
}

section.belt-rank {
  columns: 2;
}

section.technique-category {
  break-inside: avoid;
}

span.translation-en {
  font-size: 0.9em;
}
span.translation-en::before {
  content: '- '
}

h3 {
  /* break-before: column; */
}

ul {
  list-style-type: none;
  padding-left: 2ch;  /* Remove excessive indentation */
}

#vocabulary {
  columns: 2;
}

