body {
  /* Too broad. Narrow it down */
  text-transform: capitalize;
  font-family: Helvetica;
}

#vocabulary dt {
  text-decoration: underline;
}

section.belt-rank {
  columns: 2;
}

section.technique-category {
  break-inside: avoid;
}

span.translation-en {
  font-size: 0.9em;
}
span.translation-en::before {
  content: ' - ';
}
/* colors are just for identification / debugging
.technique {
  color: red;
}
.duration {
  color: blue;
}
.aggregation {
  color: green;
}
*/

/* h3 {
  break-before: column;
}
*/

ul {
  list-style-type: none;
  padding-left: 2ch;  /* Remove excessive indentation */
}

#vocabulary {
  columns: 2;
}

