body {
  font-family: Roboto;
}

.font-bold {
  font-weight: bold;
}


/* Belt representations */

.belt-rokyu {
  background-color: yellow;
}

.belt-gokyu {
  background-color: green;
}

.belt-yonkyu {
  background-color: purple;
}
.belt-sankyu {
  background: linear-gradient(
    to right,
    brown,
    brown 5%,
    black 5%,
    black 7%,
    brown 7%,
    brown 9%,
    black 9%,
    black 11%,
    brown 11%,
    brown 13%,
    black 13%,
    black 15%,
    brown 15%,
    brown
  );
}
.belt-nikyu {
  background: linear-gradient(
    to right,
    brown,
    brown 5%,
    black 5%,
    black 7%,
    brown 7%,
    brown 9%,
    black 9%,
    black 11%,
    brown 11%,
    brown
  );
}
.belt-ikkyu {
  background: linear-gradient(
    to right,
    brown,
    brown 5%,
    black 5%,
    black 7%,
    brown 7%,
    brown
  );
}
.belt-shodan {
  background-color: black;
}